[submodule "frontQuizMatrix"]
	path = frontQuizMatrix
	url = https://github.com/Mrec2/QuizMatrix-frontend.git
[submodule "backQuizMatrixV1"]
	path = backQuizMatrixV1
	url = https://github.com/Mrec2/QuizMatrix-backend.git
[submodule "backQuizMatrixV2"]
	path = backQuizMatrixV2
	url = https://github.com/Mrec2/QuizMatrix-backendV2.git
[submodule "backQuizMatrixV3"]
	path = backQuizMatrixV3
	url = https://github.com/Mrec2/QuizMatrix-backendV3.git
